<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Video Streaming</title>
  <style>
    body, html {
      margin: 0;
      padding: 0;
    }
    #videoPlayer {
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      position: fixed;
      top: 0;
      left: 0;
    }
  </style>
</head>
<body>
<video id="videoPlayer" controls>
  <source src="/vs/video-stream?type=<%= type %>&file=<%= file %>" type="video/<%= fileExt %>" />

  Sorry, your browser doesn't support embedded videos.
</video>
</body>
</html>